<% content_for :head do %>
    <%= image_tag('cr_tech5.jpg', id: 'fifth-slide', alt: 'Technology') %>
<% end %>

<section class="main-block text-center">

	<div class="row">
        <p><%= image_tag('Stephen.jpg', id: 'photo', alt: 'Stephen Baines') %></p>
    </div>
	<div class="row">
          <p class="lead">To contact Stephen, connect on Social Media:</p>
    </div>
    <div class="row">        	
        <p>
	        <a href="https://uk.linkedin.com/in/stephenbaines" target="_blank"><%= image_tag('linkedin.png', id: 'BgSocialIcon', alt: 'LinkedIn Link') %></a>
	        <a  href="https://www.facebook.com/stephen.baines" target="_blank"><%= image_tag('facebook.png', id: 'BgSocialIcon', alt: 'Facebook Link') %></a>
	        <a href="https://twitter.com/baines1986" target="_blank"><%= image_tag('twitter.png', id: 'BgSocialIcon', alt: 'Twitter Link') %></a>
	        <a href="https://github.com/baines1986" target="_blank"><%= image_tag('github.png', id: 'BgSocialIcon', alt: 'GitHub Link') %></a>
	        <a href="https://uk.pinterest.com/stephenbaines" target="_blank"><%= image_tag('pinterest.png', id: 'BgSocialIcon', alt: 'Pinterest Link') %></a>
	 		<a href="https://www.instagram.com/baines1986" target="_blank"><%= image_tag('instagram.png', id: 'BgSocialIcon', alt: 'Instagram Link') %></a>
	 		<a href="https://www.periscope.tv/baines1986" target="_blank"><%= image_tag('periscope.png', id: 'BgSocialIcon', alt: 'Periscope Link') %></a>
        </p>
    </div>

</section>

<section class="row clearfix">
	<div class="bg-full bg-fl-0">
	  <div class="bg-full-cn">
		<div class="row text-center">
		    <div class="col-sm-10 col-sm-offset-1">
			    <p class="lead">Copyright &copy; 2016 Stephen J. Baines</p>
			</div>
		</div>
	  </div>
	</div>
</section>