<% content_for :head do %>
  <%= image_tag('header-image.jpg', id: 'content-header-img', alt: 'Check-Out Our Courses') %>
<% end %>

<section id="content-details" class="row clearfix">
  <article id="details-article" class="col-sm-8">
    <h1 id="article-title">Contact</h1>
  </article>
</section> 

<section class="row clearfix text-center">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="item">
          <%= image_tag('cr_tech5.jpg', id: 'fifth-slide', alt: 'Technology') %>
          <div class="carousel-caption">
			<div class="row">
		        <p><%= image_tag('Stephen.jpg', id: 'photo', alt: 'Stephen Baines') %></p>
		    </div>
			<div class="row">
		          <p class="lead">To contact Stephen, connect on Social Media:</p>
		    </div>
		    <div class="row">        	
		        <p>
			        <a href="https://uk.linkedin.com/in/stephenbaines" target="_blank"><%= image_tag('linkedin.png', id: 'BgSocialIcon', alt: 'LinkedIn Link') %></a>
			        <a  href="https://www.facebook.com/stephen.baines" target="_blank"><%= image_tag('facebook.png', id: 'BgSocialIcon', alt: 'Facebook Link') %></a>
			        <a href="https://twitter.com/baines1986" target="_blank"><%= image_tag('twitter.png', id: 'BgSocialIcon', alt: 'Twitter Link') %></a>
			        <a href="https://github.com/baines1986" target="_blank"><%= image_tag('github.png', id: 'BgSocialIcon', alt: 'GitHub Link') %></a>
			        <a href="https://uk.pinterest.com/stephenbaines" target="_blank"><%= image_tag('pinterest.png', id: 'BgSocialIcon', alt: 'Pinterest Link') %></a>
			 		<a href="https://www.instagram.com/baines1986" target="_blank"><%= image_tag('instagram.png', id: 'BgSocialIcon', alt: 'Instagram Link') %></a>
			 		<a href="https://www.periscope.tv/baines1986" target="_blank"><%= image_tag('periscope.png', id: 'BgSocialIcon', alt: 'Periscope Link') %></a>
		        </p>
		    </div>
          </div>
        </div>
    </div>
</section>

<section id="contact2">

</section>