<% content_for :head do %>
  <%= image_tag('header-image.jpg', id: 'content-header-img', alt: 'Check-Out Our Courses') %>
<% end %>

<section id="content-details" class="row clearfix">
  <article id="details-article" class="col-sm-8">
    <h1 id="article-title">Portfolio</h1>
  </article>
</section> 


<section class="row clearfix">
	<div class="bg-fl bg-fl-5">
	    <div class="bg-full-cn bg-left-cn">
	      	<p class="lead text-center">A Resume only says less than <strong>1,000 words</strong>. A Portfolio paints a <strong>lifetime of opportunities taken</strong></p>
		  	<div class="row">
		    	<div class="col-md-12">
				    <p class="lead text-center">Clients through working at Hewlett Packard & Hewlett Packard Enterprise Include:</p>
				    <p>
			        	<%= image_tag('lg_po.png', id: 'cert-image', alt: 'Post Office Logo') %>
			        	<%= image_tag('lg_lbs.png', id: 'cert-image', alt: 'Leeds Building Society Logo') %>
			        	<%= image_tag('lg_lbg.png', id: 'cert-image', alt: 'Lloyds Banking Group Logo') %>
			        	<%= image_tag('lg_allied.png', id: 'cert-image', alt: 'Allied Healthcare Logo') %>
			        	<%= image_tag('lg_shell.png', id: 'cert-image', alt: 'Shell Logo') %>
			        	<%= image_tag('lg_vodafone.png', id: 'cert-image', alt: 'Vodafone Logo') %>
			        	<%= image_tag('lg_seadrill.png', id: 'cert-image', alt: 'Seadrill Logo') %>
			        	<%= image_tag('lg_moj.png', id: 'cert-image', alt: 'Ministry of Justice Logo') %>
			        	<%= image_tag('lg_rr.png', id: 'cert-image', alt: 'Rolls Royce Logo') %>
			        	<%= image_tag('lg_alu.png', id: 'cert-image', alt: 'Alcatel Lucent Logo') %>
				    </p>
		        </div>
		    </div>

			<div class="row">
			    <div class="col-md-12">
			    	<p class="lead text-center">MBA Focused Assignments & Case Studies Include:</p>
				    <p>
			        	<%= image_tag('lg_hp.png', id: 'cert-image', alt: 'HP Logo') %>
			        	<%= image_tag('lg_starbucks.png', id: 'cert-image', alt: 'Starbucks Logo') %>
			        	<%= image_tag('lg_uber.png', id: 'cert-image', alt: 'Uber Logo') %>
			        	<%= image_tag('lg_unilever.png', id: 'cert-image', alt: 'Unilever Logo') %> 
			        	<%= image_tag('lg_illy.png', id: 'cert-image', alt: 'Illy Logo') %>
			        	<%= image_tag('lg_nissan.png', id: 'cert-image', alt: 'Nissan Logo') %>
			        	<%= image_tag('lg_abf.png', id: 'cert-image', alt: 'ABF Logo') %>
			        	<%= image_tag('lg_nasa.png', id: 'cert-image', alt: 'NASA Logo') %>
			        	<%= image_tag('lg_panam.png', id: 'cert-image', alt: 'PANAM Games Logo') %>
				    </p>
			    </div>
			</div>
		</div>
    </div>
</section>



<section class="row clearfix">
	<div class="spacer">
	</div>
</section>


<section class="row clearfix">
	<div class="bg-fl bg-fl-5">
	    <div class="bg-full-cn bg-left-cn">
		    <div class="row">
		      <div class="col-md-4">
		        <h3>Global Corporate Parent Advisory</h3>
		        <%= image_tag('lg_abf.png', id: 'cert-image', alt: 'ABF Logo') %>
		        <p>A workshop-based analysis with the aim of analysing the companies in the Associated British Foods portfolio to understand and reccommend an optimised structure of the business. Included an indepth study of the markets, customers and overarching company and individual business strategies.</p>
		        <p><strong><%= image_tag('trophy.png', id: 'cert-image', alt: 'Trophy') %> #1 Workshop Group</strong></p>
		      </div>
		      <div class="col-md-4">
		        <h3>The Importance of Radical Innovation</h3> 
		        <%= image_tag('lg_theranos.png', id: 'cert-image', alt: 'Theranos Logo') %>
		        <p>An extensive study into the health innovation entering the market by founder of Theranos, Elizabeth Holmes. The study investigates core aspects of innovation including finance, expertise and ultimately motivation for success. The analysis concludes with competitor insight leading to a series of recommendations.</p>
		        <p><strong><%= image_tag('trophy.png', id: 'cert-image', alt: 'Trophy') %> Top 5 Workshop Group</strong></p>
		      </div>
		      <div class="col-md-4">
		        <h3>Revenue-Sharing via Value-Add Service</span></h3>
		        <%= image_tag('lg_uber.png', id: 'cert-image', alt: 'Uber Logo') %>
		        <p>Extensive insights and assessment of the Sharing Economy business model with a focus upon the ride-sharing 'start-up' Uber. Deep underlying research is made into the company itself whilst also investigating the strength of, and future progression of the Sharing Economy model.</p>
		        <p><strong><%= image_tag('trophy.png', id: 'cert-image', alt: 'Trophy') %> Top 5 Individual Assignment</strong></p>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-md-4">
		        <h3>UK&I Tablet Market Tear-Down and Analysis</h3>
		        <%= image_tag('lg_hp.png', id: 'cert-image', alt: 'HP Logo') %>
		        <p>A depth analysis of the HP Personal Systems Business Unit with a specific focus on the UK&I Tablet and constituent accessory market. The analysis offers insight into the current market landscape, megatrends, future market trends and insight into HP's capabilities and operating model with an ultimate formulation of strategic recommendations.</p>
		        <p><strong><%= image_tag('trophy.png', id: 'cert-image', alt: 'Trophy') %> Top 10 Individual Assignment</strong></p>
		      </div>
		      <div class="col-md-4">
		        <h3>FMCG Global Corporate Strategic Advisory</h3>
		        <%= image_tag('lg_unilever.png', id: 'cert-image', alt: 'Unilever Logo') %> 
		        <p>An extensive Corporate Advisory piece focusing upon a product category (Ice Cream) and a subsequent target market (UK&I) for the chosen category. The assessment included an analysis of industry megatrends, product and competitor analysis and competitive advantages before forging a series of recommendations aimed at the board-level.</p>
		        <p><strong><%= image_tag('trophy.png', id: 'cert-image', alt: 'Trophy') %> Top 5 Workshop Group</strong></p>
		      </div>
		      <div class="col-md-4">
		        <h3>Teamwork in Critical Situations</h3>
		        <%= image_tag('lg_nasa.png', id: 'cert-image', alt: 'NASA Logo') %>
		        <p>A written-group project with a focus on the breakdown and subsequent analysis of a highly success team of the past. Apollo 13 and specifically the Ground Control were the chosen target. The assessment involved analysing of the team environment whilst assessing the contributions made by key individuals including Lead Flight Director Gene Kranz.</p>
		        <p><strong><%= image_tag('trophy.png', id: 'cert-image', alt: 'Trophy') %> #1 Group Assignment</strong></p>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-md-4">
		        <h3>Touchpad: A Critical Assessment</span></h3>
		        <%= image_tag('lg_hp.png', id: 'cert-image', alt: 'HP Logo') %>
		        <p>An extensive analysis of the failed HP TouchPad venture which became HP's response to the Apple iPad. Included senior business leader interviews, including those responsible for progressing the business forward following a restructuring shortly after the devices release. The study focuses upon an extensive analysis of both the successes and failures of the TouchPad venture.</p>
		      </div>
		      <div class="col-md-4">
		        <h3>Int'l Expansion Proposition</span></h3>
		        <%= image_tag('lg_illy.png', id: 'cert-image', alt: 'Illy Logo') %>
		        <p>A written strategic analysis of global coffee company, Illy, with the intention of highlighting the top three international expansion opportunities based on a self-developed unique Country scoring model. The model accounted for a number of areas including (in priority order): GDP Growth; Coffee Sales; Ease of Doing Business Ranking; Coffee Consumption; Coffee Shop Concentration; Urbanisation Rate and Income per Capita.</p>
		      </div>
		      <div class="col-md-4">
		        <h3>A Study of Conflicting Cultures</h3>
		        <%= image_tag('lg_panam.png', id: 'cert-image', alt: 'PANAM Games Logo') %>
		        <p>A workshop assessment to compare and contrast the Employee Involvement and Participation practices of two team members companies, Hewlett Packard and the PanAm Games. The assessment involved an assessment of the history of each company, analysis of literature before an application of the literature to practical examples.</p>
		        <p><strong><%= image_tag('trophy.png', id: 'cert-image', alt: 'Trophy') %> #1 Workshop Group</strong></p>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-md-4">
		        <h3>Sakhalin II: A Study of Russian Culture</span></h3>
		        <%= image_tag('lg_gazprom.png', id: 'cert-image', alt: 'Gazprom Logo') %>
		        <p>A brief overview and assessment of the post-workshop analysis of the Sakhalin II Case Study focusing upon Shell, Gazprom and the role of the Russian government in Shell's loss of control of Sakhalin II. The brief covers a deep assessment of cultural clashes whilst also presenting a series of strategic reccommendations along with implications of each proposal.</p>
		      </div>
		      <div class="col-md-4">
		        <h3>Relationship Marketing</span></h3>
		        <%= image_tag('lg_hp.png', id: 'cert-image', alt: 'HP Logo') %>
		        <p>An assessment of the importance and effects of Relationship Marketing within primarily global consulting firms. The analysis investigates the effect of inefficient operating models upon future opportunity pipelines whilst investigating the usage of extensive toolsets to aid the development of prosperous relationships.</p>
		      </div>
		      <div class="col-md-4">
		        <h3>The Make-or-Buy Dilemma</h3>
		        <%= image_tag('lg_nissan.png', id: 'cert-image', alt: 'Nissan Logo') %>
		        <p>A written-assessment and analysis of the history of Transaction Cost Economics with an applied example of the 'Make-or-Buy Dilemma' at Nissan Motors. The assessment delves into a strategic analysis of the pro's and con's of each part of the Make-or-Buy dilemma with applied examples for each scenario before arriving at the optimal reccomendation for Nissan Motors.</p>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-md-4">
		        <h3>Economics & Game Theory Analysis</span></h3>
		        <%= image_tag('lg_starbucks.png', id: 'cert-image', alt: 'Starbucks Logo') %>
		        <p>A study of Game Theory with a focus upon Howard Schultz, CEO of Starbucks. The assessment delves into a timeline of events outlining the likely strategic events and subsequent recommendations of Starbucks. The reccomendations were a focus on the 'Single Coffee Cup' market, prior to the boom of the market in 2013/14.</p>
		        <p><strong><%= image_tag('trophy.png', id: 'cert-image', alt: 'Trophy') %> Top 5 Workshop Group</strong></p>
		      </div>
		      <div class="col-md-4">
		         <h3>India Expansion Cultural Analysis</span></h3>
		        <%= image_tag('lg_microsoft.png', id: 'cert-image', alt: 'Microsoft Logo') %>
		        <p>An assessment into Microsoft's foray into the Indian and Chinese markets back in the 90's with a specific focus on the culture aspects relating to the expansion with a notable inclusion of the problems, and subsequent methods of circumvention, of the piracy issues faced by the company.</p>
		      </div>
		      <div class="col-md-4">
		        <h3>Corporate Parent Financial Analysis</h3>
		        <%= image_tag('lg_laurentian.png', id: 'cert-image', alt: 'Laurentian Logo') %>
		        <p>An analysis of a number of potential strategic investments proposed by Laurentian International. The assessment outlines the key benefits of each investment before assessing the Internal Rate of Rate (IRR), Net Present Value (NPV) and overall comparative nature of each proposal before arriving at a recommendation for the Laurentian management team.</p>
		        <p><strong><%= image_tag('trophy.png', id: 'cert-image', alt: 'Trophy') %> Top 5 Workshop Group</strong></p>
		      </div>
		    </div>

		</div>
    </div>
</section>
