<% content_for :head do %>
    <%= image_tag('6.jpg', id: 'fifth-slide', alt: 'Technology') %>
<% end %>

<section class="main-block">

	<div class="row">
		<p>Stephen is a dynamic, inspirational speaker with a depth experience in Cutting-Edge Innovation, Business Strategy and Social Innovation. He is deemed by Hewlett Packard Enterprise to be one of the Tech Industries Millenial Leaders of the Future.</p>
		
		<p>Stephen delivers real value to his audience and clients by applying years of accelerated experience to the business, persons or situation at hand in a way which delivers clear, measurable and objective results.</p>

		<p>Below are two foundational keynotes he is well-versed in delivering to his clients. Note that each topic can be personalized to your company and industry. Stephen can also combine elements of each of these three topics as required.</p>

		<p><b>ABOUT STEPHEN: </b>To find out more about Stephen, <%= link_to "click here", about_path %>.</p>

		<p><b>HIRING STEPHEN: </b>If you are interested in hiring Stephen to speak at an event, please reach out to him and his team as below:</p>
        <p class="text-center"><a href="https://uk.linkedin.com/in/stephenbaines" target="_blank"><%= image_tag('linkedin.png', id: 'BgSocialIcon', alt: 'LinkedIn Link') %></a>
        <a  href="https://www.facebook.com/stephen.baines" target="_blank"><%= image_tag('facebook.png', id: 'BgSocialIcon', alt: 'Facebook Link') %></a>
        <a href="https://twitter.com/baines1986" target="_blank"><%= image_tag('twitter.png', id: 'BgSocialIcon', alt: 'Twitter Link') %></a>
        </p>
    </div>

  	<div class="row">
        <h4 class="text-center">TOPIC 1: COMING SOON</h4>
        <p>Further details on the topics covered in the keynotes speeches will be published in the near future</p>
    </div>

  	<div class="row">
        <h4 class="text-center">TOPIC 2: COMING SOON</h4>
        <p>Further details on the topics covered in the keynotes speeches will be published in the near future</p>
    </div>

</section>

<section class="row clearfix">
	<div class="bg-full bg-fl-0">
	  <div class="bg-full-cn">
		<div class="row text-center">
		    <div class="col-sm-10 col-sm-offset-1">
			    <p class="lead">Copyright &copy; 2016 Stephen J. Baines</p>
			</div>
		</div>
	  </div>
	</div>
</section>